.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(158, 158, 158);
    color: white;
  }
  .footer li {
    display: inline-block;
    display: -moz-inline-box;
    display: inline; 
    zoom: 1; 
    margin-left: 12%;

    width: 32%;
    text-align: center;
}

.footer ul {
    list-style-type: none;
} 